.DS_Store
.idea/
.vscode/
*.log
data/*.sqlite
data/*.sqlite-journal
data/*.sqlite-wal
data/*.sqlite-shm
data/*.log
data/news-cache.json
data/videos-cache.json
pythonversion/__pycache__/
pythonversion/**/__pycache__/
pythonversion/*.pyc
config.local.php
